body, html {
  margin: 0;
  font-family: sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #2e7d32;
  color: white;
  padding: 1rem;
}

.sidebar a {
  display: block;
  color: white;
  margin: 10px 0;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background: #eee;
}

.content {
  flex: 1;
}

.dark body {
  background: #121212;
  color: white;
  }


.kpi-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
}

.kpi-card {
  padding: 15px;
  background: #f3f3f3;
  border-radius: 8px;
}
